#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: url(bg/daisy-stock-poster.jpg) no-repeat #ccc;
    background-size: cover;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  padding: 0;
}
.info span{
  margin-left: 50px; 
}
.main {
  min-height: 50vh;
}
.title {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  line-height: 30px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.nav-link {
  display: block;
  padding: 18px 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.nav-link::before{
  content: '|';
  position: absolute; top: 50%; left: 0;
  width: 1px;
  height: 8px;
  margin-top: -12px;
}
ul > li:first-child a:before{
  content: '';
}
.corner {
  border-radius: 0;
  /* width: 320px; */
  padding: 10px 25px;
  height: 60px;
  word-wrap: break-word;
  font-size: 24px;
  line-height: 18px;
  color: #fff;
}
.navbar-text {
  margin-left: 20px;
}




.opacity {
  opacity: 0.5;
}
